$btnBlack: #252525;
$cream: #f2d8b9;
$blue: #f2d8b9;
$white: #ffffff;
$black: #000000;
$primary: #10e7f4;

@mixin main-font {
  font-family: "Poppins", sans-serif;
}

@mixin secondary-font {
  font-family: 'Roboto', sans-serif;

}

@mixin hero_btn($col1, $col2, $pad1, $pad2) {
  display: inline-block;
  padding: $pad1 $pad2;
  background-color: $col1;
  border: 1px solid $col1;
  color: $col2;

  &:hover {
    background-color: transparent;
    color: $col1;
  }
}

@mixin upperBold {
  text-transform: uppercase;
  font-weight: bold;
}

body {
  @include main-font;
  color: $black;
  background-color: #ffffff;
}

.layout_padding {
  padding: 100px 0;
}

.layout_padding2 {
  padding: 55px 0;
}

.layout_padding2-top {
  padding-top: 55px;
}

.layout_padding2-bottom {
  padding-bottom: 55px;
}

.layout_padding-top {
  padding-top: 100px;
}

.layout_padding-bottom {
  padding-bottom: 100px;
}

.custom_heading-container {
  display: flex;
  justify-content: "";

  h2 {
    text-transform: uppercase;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: 50px;
      height: 5px;
      background-color: $primary;
    }
  }
}

/*header section*/
.hero_area {
  height: 100vh;
}

.sub_page {
  .hero_area {
    height: auto;
  }
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {
  .top_contact-container {
    display: center;
    justify-content: space-between;
    padding: 5px 0;

    @include secondary-font();

    .nampro_container {
      a {
        color: $white;
        text-transform: uppercase;
        display: flex;
        align-items: center;

        img {
          width: 20px;
          margin-right: 10px;
        }
      }
    }

    .social-container {
      img {
        margin: 0 5px;

        &.s-1 {
          width: 25px;
        }

        &.s-2 {
          width: 25px;
        }

        &.s-3 {
          width: 25px;
        }
      }
    }
  }

  .container-fluid {
    background-color: #2c2c2c;
  }
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 25px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  @include secondary-font();
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.navbar-brand,
.navbar-brand:hover {
  @include upperBold;
  font-size: 24px;
  color: #fafcfd;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 40px;
  margin-right: 5px;
}

.navbar-brand span {
  font-size: 20px;
  font-weight: 700;
  color: $white;
  margin-top: 5px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 10px 0;

  .form-inline {
    flex-grow: 1;
    flex-wrap: nowrap;

    input {
      width: 84%;
      border: none;
      outline: none;
      padding: 4px;
      padding-left: 15px;
      text-transform: uppercase;
      height: 35px;
      background-color: $white;
    }

    button {
      background-color: $white;
    }
  }
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 42px;
}

/*end header section*/

/* slider section */
.slider_section {
  border-block: medium;
  initial-letter-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 75px;

  .img-box {
    img {
      width: 100%;
    }
  }

  .detail-box {
    h1 {
      color: #2c2c2c;

      span {
        font-size: 4rem;
        color: $white;
        font-weight: bold;
      }
    }

    p {
      color: $white;
    }

    a {
      @include hero_btn(#2c2c2c, $white, 10px, 45px);
      margin-top: 35px;
      margin-bottom: 45px;
    }
  }

    &:hover {
      background-color: $white;
      width: 55px;
      height: 55px;
      transform: translateY(-50%)translatex(-5px);
    }
  }


// end slider section

// feature section
.feature_section {
  .feature_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;

    .box {
      display: flex;
      width: 350px;
      min-width: 350px;
      flex-direction: column;
      align-items: center;
      margin: 30px auto;

      .img-box {
        border: 1px solid $black;
        width: 85px;
        padding: 15px;
        border-radius: 3px;

        svg {
          width: 100%;
          height: auto;
        }
      }

      .detail-box {
        margin-top: 15px;

        h5 {
          text-transform: uppercase;
          font-weight: bold;
        }
      }

      &:hover {
        .img-box {
          border: 1px solid $primary;

          svg {
            fill: $primary;
          }
        }
      }
    }
  }
}

// end feature section

// discount section
.discount_section {
  background-color: #1e1d1d;
  color: $white;

  .row {
    align-items: center;

    .col-lg-7 {
      padding: 0;
    }
  }

  .detail-box {
    padding: 45px 0;

    h2 {
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: bold;

      span {
        color: $primary;
      }
    }

    p {
      margin-top: 25px;
    }

    a {
      @include hero_btn($primary, $white, 10px, 45px);
      margin-top: 35px;
    }
  }

  .img-box {
    img {
      width: 100%;
    }
  }
}

// end discount section

// health section
.health_section {

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 360px;
    justify-content: space-between;
    border: 1px solid #a6a6a6;
    margin: 20px 0;
    @include secondary-font();

    .img-box {
      img {
        width: 100%;
      }
    }

    .btn_container {
      width: 100%;

      a {
        @include hero_btn(#2c2c2c, $white, 8px, 15px);
        margin: -0.5px 0 0 -0.5px;

        &:hover {
          background-color: $primary;
          color: $white;
          border-color: transparent;
        }
      }
    }

    .detail-box {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 15px;

      .star_container {
        color: #f5c608;
      }

      .text {
        display: flex;

        h6 {
          text-transform: uppercase;

          &.price {
            font-weight: bold;
            margin-left: 15px;

            span {
              color: $primary;
            }
          }
        }
      }
    }
  }

      &:hover {
        background-color: $primary;
      }
    }

    .owl-prev {
      background-image: url(../images/prev.png);
      right: 95px;

    }

    .owl-next {
      background-image: url(../images/next.png);
      right: 35px;
    }
  }


}

// end health section

// about section

.about_section {
  background-color: #f9f9f9;
  text-align: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .img-box {
      margin: 45px 0;
      margin-left: 40px;

      img {
        width: 100%;
      }
    }

    .detail-box {
      a {
        @include hero_btn(#2c2c2c, $white, 10px, 45px);
        margin-top: 35px;
      }
    }
  }
}

// end about section

// contact section
.contact_section {
  .custom_heading-container {
    justify-content: center;

    h2 {
      &::after {
        left: 0;
        transform: none;
      }
    }
  }

  .form_contaier {
    form {
      .form-group {
        margin-bottom: 20px;
      }

      .form-control {
        border-radius: 0;
        height: 35px;
        box-shadow: none;

        &#exampleInputMessage {
          height: 100px;
        }
      }

      button {
        @include hero_btn(#121313, $white, 10px, 50px);
        border-radius: 5px;
        margin-top: 15px;
      }
    }
  }

  .detail-box {
    background-image: url(../images/contact-bg.jpg); 
    color: $black;
    padding: 140px 15%;
    text-align: center;
    margin-top: 30px;

    h3 {
      font-weight: bold;
      font-size: 32px;
    }

    p {
      margin-top: 25px;
    }
  }
}

// end contact section

// info section
.info_section {
  background-color: #121111;
  color: $white;

  h4 {
    text-transform: uppercase;
    font-weight: bold;
  }

  .info_contact {
    .box {
      margin: 10px 0;
      display: flex;

      .img-box {
        margin-right: 15px;

        img {
          width: 25px;
        }
      }
    }
  }

  .info_menu {
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $white;
        }
      }
    }
  }

  .info_news {
    form {
      input {
        width: 100%;
        padding: 3px 10px;
      }

      button {

        @include hero_btn($primary, $white, 7px, 60px);
      }
    }
  }
}

// end info section

/* slider section*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

main {
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
}

.contenedor__todo {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: center;
  align-content: center;
}

/*Formularios*/

.contenedor__login-register {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: center;
  top: -185px;
  left: 10px;

}

.contenedor__login-register form {
  width: 100%;
  padding: 80px 20px;
  background: white;
  position: absolute;
  border-radius: 20px;
}

.contenedor__login-register form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #46A2FD;
}

.contenedor__login-register form input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #F2F2F2;
  font-size: 16px;
  outline: none;
}

.contenedor__login-register form button {
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background: #46A2FD;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
}


.formulario__login {
  opacity: 1;
  display: block;
}

.formulario__register {
  display: none;
}



@media screen and (max-width: 850px) {

  main {
    margin-top: 50px;
  }

  .caja__trasera {
    max-width: 350px;
    height: 300px;
    flex-direction: column;
    margin: auto;
  }

  .caja__trasera div {
    margin: 0px;
    position: center;
  }


  /*Formularios*/

  .contenedor__login-register {
    top: -10px;
    left: -5px;
    margin: auto;
  }

  .contenedor__login-register form {
    position: relative;
  }
}