$btnBlack: #252525;
$cream: #f2d8b9;
$blue: #f2d8b9;
$white: #ffffff;
$black: #000000;
$primary: #10e7f4;

@mixin main-font {
  font-family: "Poppins", sans-serif;
}

@mixin secondary-font {
  font-family: 'Roboto', sans-serif;

}

@mixin hero_btn($col1, $col2, $pad1, $pad2) {
  display: inline-block;
  padding: $pad1 $pad2;
  background-color: $col1;
  border: 1px solid $col1;
  color: $col2;

  &:hover {
    background-color: transparent;
    color: $col1;
  }
}

@mixin upperBold {
  text-transform: uppercase;
  font-weight: bold;
}

body {
  @include main-font;
  color: $black;
  background-color: #ffffff;
}

.layout_padding {
  padding: 100px 0;
}

.layout_padding2 {
  padding: 55px 0;
}

.layout_padding2-top {
  padding-top: 55px;
}

.layout_padding2-bottom {
  padding-bottom: 55px;
}

.layout_padding-top {
  padding-top: 100px;
}

.layout_padding-bottom {
  padding-bottom: 100px;
}

.custom_heading-container {
  display: flex;
  justify-content: center;

  h2 {
    text-transform: uppercase;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: 50px;
      height: 5px;
      background-color: $primary;
    }
  }
}

/*header section*/
.hero_area {
  height: 100vh;
  background-image: url(../images/hero-bg.jpg);
}

.sub_page {
  .hero_area {
    height: auto;
  }
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {
  .top_contact-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;

    @include secondary-font();

    .nampro_container {
      a {
        color: $white;
        text-transform: uppercase;
        display: flex;
        align-items: center;

        img {
          width: 20px;
          margin-right: 10px;
        }
      }
    }

    .social-container {
      img {
        margin: 0 5px;

        &.s-1 {
          width: 25px;
        }

        &.s-2 {
          width: 25px;
        }

        &.s-3 {
          width: 25px;
        }
      }
    }
  }

  .container-fluid {
    background-color: #2c2c2c;
  }
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 25px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  @include secondary-font();
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.navbar-brand,
.navbar-brand:hover {
  @include upperBold;
  font-size: 24px;
  color: #fafcfd;
}
//*header section

/*contact section*/
.contact_section {
  .custom_heading-container {
    justify-content: start;

    h2 {
      &::after {
        left: 0;
        transform: none;
      }
    }
  }

  .form_contaier {
    form {
      .form-group {
        margin-bottom: 20px;
      }

      .form-control {
        border-radius: 0;
        height: 35px;
        box-shadow: none;

        &#exampleInputMessage {
          height: 100px;
        }
      }

      button {
        @include hero_btn(#121313, $white, 10px, 50px);
        border-radius: 5px;
        margin-top: 15px;
      }
    }
  }

  .detail-box {
    background-image: url(../images/contact-bg.jpg); 
    color: $black;
    padding: 140px 15%;
    text-align: center;
    margin-top: 30px;

    h3 {
      font-weight: bold;
      font-size: 32px;
    }

    p {
      margin-top: 25px;
    }
  }
}

// end contact section

/* Login*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url(../images/bg4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

main {
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
}

.form-login {
  width: 400px;
  height: 340px;
  background: #4e4d4d;
  margin: auto;
  margin-top: 180px;
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  border-top: 4px solid #017bab;
  color: white;
}

.form-login h5 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
}

.controls {
  width: 100%;
  border: 1px solid #017bab;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: #252323;
  font-size: 14px;
  font-weight: bold;
}

.buttons {
  width: 100%;
  height: 40px;
  background: #017bab;
  border: none;
  color: white;
  margin-bottom: 16px;
}

.form-login p{
  height: 40px;
  text-align: center;
  border-bottom: 1px solid;
}

.form-login a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.form-login a:hover {
  text-decoration: underline;
}
// end login

/* proyect section*/

h2. table {
  text-align: center;
  margin-top: 20px;
}

form. table {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

button[type="button"], button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="button"]:hover, button[type="submit"]:hover {
  background-color: #45a049;
}

@media screen and (max-width: 600px) {
  form {
    width: 100%;
  }
}
// end proyect section

/* logout button*/

.logout-btn {
  background-color: #E0FBFB;
  color: #4F5454;
  border: none;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.logout-btn:hover {
  background-color: #CFD3D3;
}
// logout button
