.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888;
  z-index: 100;
}

.popup button {
  background-color: #00bfff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  float: center;
  margin-top: 30px;
}

.popup button:hover {
  background-color: #008cba;
}