<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Ingresar datos</title>
  <script src="https://unpkg.com/cytoscape@3.23.0/dist/cytoscape.min.js"></script>
  <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

  <!-- graph stylesheet -->
  <link rel="stylesheet" href="../static/css/popup/popup.css">
  <link rel="stylesheet" href="../static/css/popup/popup-content.css">
  <link rel="stylesheet" href="../static/css/graph/cysoscape-container.css">
</head>

<body>

  <h1>Agregar nodo</h1>
  <form action="/create-node" method="POST">
    <label for="name">Nombre:</label>
    <input type="text" name="name" id="name" required><br><br>

    <label for="date">Fecha:</label>
    <input type="date" name="date" id="date" required><br><br>

    <label for="description">Descripción:</label>
    <textarea name="description" id="description" required></textarea><br><br>

    <input type="submit" value="Agregar">
  </form>

  <h1>Agregar conexión</h1>
  <form action="/add_edge" method="post">
    <label>Origen:</label>
    <input type="text" name="source"><br>
    <label>Destino:</label>
    <input type="text" name="target"><br>
    <input type="submit" value="Agregar">
  </form>

  <section>
    <div class="container">
      <h3>Activity Map</h3>
      <div id="activity-map"></div>
    </div>
  </section>

  <script src="../static/js/cytoscapeGraph.js"></script>
  <script src="../static/js/currenTime.js"></script>

</body>

</html>