<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Projects DB7WS</title>

    <script src="https://unpkg.com/cytoscape@3.23.0/dist/cytoscape.min.js"></script>
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- graph stylesheet -->
    <link rel="stylesheet" href="../static/css/popup/popup.css">
    <link rel="stylesheet" href="../static/css/popup/popup-content.css">
    <link rel="stylesheet" href="../static/css/graph/cysoscape-container.css">

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- font awesome style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700%7CRoboto:400,700&display=swap"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="../static/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container">
                <div class="top_contact-container">
                    <div class="tel_container">
                        <a href="">
                            <img src="../static/images/seguridad.jpg" alt="">Welcome to our Dashboard for visualization
                            of activities
                            by nodes
                        </a>
                    </div>
                    <div class="social-container">
                        <a href="">
                            <img src="../static/images/fb.png" alt="" class="s-1">
                        </a>
                        <a href="">
                            <img src="../static/images/twitter.png" alt="" class="s-2">
                        </a>
                        <a href="">
                            <img src="../static/images/instagram.png" alt="" class="s-3">
                        </a>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
                    <a class="navbar-brand" href="index.html">
                        <img src="../static/images/red.png" alt="">
                        <span>
                            DB7WS
                        </span>
                    </a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex  flex-column flex-lg-row align-items-center w-100 justify-content-center">
                            <h3 style="color: white;">{{ current_user.fullname }}</h3>
                        </div>
                        <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
        <!-- proyect section -->
        <section class="contact_section layout_padding">
            <div class="container">
                <div class="row justify-content-center">
                    <h2 id="table">
                        Projects management
                    </h2>
                </div>
            </div>

            <form id=table method="POST" action="/table" aling="center">
                <table id="tabla-datos">
                    <tr>
                        <th> Project name </th>
                        <th> Project Company </th>
                        <th> Date </th>
                        <th> Requirements </th>
                    </tr>
                    <tr>
                        <td><input type="text" name="projectName" id="name"></td>
                        <td><input type="text" name="nameCompany" id="company_name"></td>
                        <td><input type="date" name="date" id="date"></td>
                        <td><input type="text" name="requirements" id="requiremnts"></td>
                    </tr>
                </table>
                <input type="submit" id="add-row" value="Add project">
                <button type="button" id="remove-row"> Remove last project </button>
            </form>
        </section>
    </div>
    <!-- end proyect section -->

    <script src="../static/js/script.js"></script>
</body>

</html>